.edge-fades-x {
    --direction: right;

    overflow-x: auto;
    animation-name: edge-fades;
    animation-timeline: scroll(x self);
}

.edge-fades-y {
    --direction: bottom;

    overflow-y: auto;
    animation-name: edge-fades;
    animation-timeline: scroll(y self);
}

@keyframes edge-fades {
    0% {
        mask-image: linear-gradient(to var(--direction), white calc(100% - 2rem), transparent);
    }

    1%, 99% {
        mask-image: linear-gradient(to var(--direction), transparent, white 2rem, white calc(100% - 2rem), transparent);
    }

    100% {
        mask-image: linear-gradient(to var(--direction), transparent, white 2rem);
    }
}