@use "sass:list";
@use "sass:map";
@use "sass:string";

$breakpoints: (
    "xs": 425px,
    "sm": 596px,
    "md": 768px,
    "lg": 1024px,
);

@mixin viewport($media) {
    $then: string.slice($media, 1, 1);
    $operator: "<";

    @if $then == ">" {
        $media: string.slice($media, 2);
        $operator: ">=";
    }

    $value: map.get($breakpoints, $media);

    @if $media == "md" {
        @container main (width #{$operator} #{$value}) {
            @content;
        }
    }
    @else {
        @media (width #{$operator} #{$value}) {
            @content;
        }
    }
}

$themes: ("hatsusora", "ayame", "sakura");

@mixin theme() {
    @each $theme in $themes {
        [theme="#{$theme}"] & {
            @content($theme);
        }
    }
}

@mixin dark() {
    [z-dark] & {
        @content;
    }
}
