* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    color-scheme: light dark;
    scroll-behavior: smooth;
    interpolate-size: allow-keywords;
}

body {
    overflow: hidden scroll;
    font-family: var(--font-primary);
    font-size: 16px;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    color: var(--color-text-primary);
}

h1, h2, h3 {
    font-family: var(--font-smooth);
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

code {
    padding: 1px 4px;
    border: 1px solid var(--color-border-lighter);
    border-radius: 4px;
    box-decoration-break: clone;
    background-color: color-mix(in srgb, var(--color-gray-700), transparent 66%);
    font-family: var(--font-monospace);
    font-size: 0.875em;
    color: var(--color-theme-text);
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

rt {
    font-size: 0.6em;
}

sub, sup {
    font-size: 0.75em;
}

table {
    width: 100%;
}

th, td, dt, dd {
    line-height: 24px;
}

th, dt {
    padding: 2px 12px;
    background-color: var(--color-theme);
    font-family: var(--font-smooth);
    font-size: var(--font-size-th);
    text-align: center;
}

td, dd {
    padding: 2px 6px;
    font-size: var(--font-size-td);
}

ol, ul, menu {
    list-style-type: none;
}

button, label, select {
    cursor: pointer;
}

button, input, textarea, select {
    background-color: transparent;
    color: inherit;
}

option {
    background-color: var(--color-background);
}

input {
    min-width: 0;
}

textarea {
    resize: none;
}

:root {
    &::highlight(danger) {
        color: var(--color-danger);
    }
}

:focus {
    outline: none;
}

::placeholder {
    color: var(--color-info);
}

::selection {
    background-color: var(--color-selection-bg);
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-background);

    :not(:root) > & {
        border-radius: 5px;
    }
}

::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    border-radius: 5px;
    background-clip: content-box;
    background-color: var(--color-theme-dark);
}

[type="number"] {
    appearance: textfield;

    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
        appearance: none;
    }
}

[type="search"]::-webkit-search-cancel-button {
    appearance: none;
}

/* ---------------------------------------------------------------- */

/* 通用内容部件 */
.content-widget {
    --meow-large: 2rem;
    --meow-medium: 1.5rem;

    border: 2px solid var(--color-theme-dark);
    border-radius: 16px;
    box-shadow: var(--box-shadow);
    background-color: var(--color-background-alpha);

    @include viewport("lg") {
        --meow-large: 1.5rem;
    }

    @include viewport("xs") {
        --meow-large: 1rem;
        --meow-medium: 1rem;
    }
}

/* 通用内容盒 */
.content-table {
    padding: 16px;
    border: 1px solid var(--color-border-lighter);
    border-left: 32px solid var(--color-theme);
    background-color: var(--color-background);
    font-size: 14px;
}

.content-h2 {
    font-family: var(--font-smooth);
    font-size: 20px;
    line-height: 26px;
}

.div-table {
    --font-size-th: 14px;
    --font-size-td: 14px;

    display: flex;
    gap: 2px;
    padding: 2px;
    border: 1px solid var(--color-border);

    > dl {
        display: grid;
        flex: 1;
        grid-template-columns: var(--dt-fr, 1fr) var(--dd-fr, 1fr);
        row-gap: 2px;
    }
}

.tag {
    box-decoration-break: clone;
    background-color: var(--color-gray-700);
    color: var(--color-text-secondary);

    &:is(a):hover {
        color: var(--color-theme-text);
    }
}

.p-small {
    font-size: 14px;
    line-height: 24px;
}

.text-small {
    font-size: 14px;
}

.text-danger {
    color: var(--color-danger);
}

.text-gray {
    color: var(--color-info);
}

.text-primary {
    color: var(--color-theme-text);
}

.text-secondary {
    color: var(--color-text-secondary);
}

.text-center {
    text-align: center;
}

.text-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-uppercase {
    text-transform: uppercase;
}

.cursor-pointer {
    cursor: pointer;
}

.no-scrollbar {
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.sr-only {
    display: none;
}

/* ---------------------------------------------------------------- */

/* 代码高亮 */
.shiki {
    span {
        background-color: var(--shiki-light-bg);
        color: var(--shiki-light);

        @include dark {
            background-color: var(--shiki-dark-bg);
            color: var(--shiki-dark);
        }
    }

    .indent {
        display: inline-block;
        position: relative;
        left: var(--indent-offset);

        &:empty {
            width: 0;
            height: 1lh;
            vertical-align: bottom;
        }

        &::before {
            content: "";
            position: absolute;
            opacity: 0.4;
            width: 1px;
            height: 100%;
            background-color: var(--color-border);
        }
    }
}
