* {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
}

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    color-scheme: light dark;
    scroll-behavior: smooth;
}

body {
    overflow: hidden scroll;
    font-family: var(--font);
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    color: var(--color-text-primary);
}

h1, h2, h3 {
    font-family: var(--font-smooth);
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

rt, sub, sup {
    font-size: 0.75em;
    line-height: 1em;
}

blockquote {
    margin-block: 16px;
    padding: 12px 16px;
    border-block: 1px solid var(--color-border-lighter);
    border-inline: 4px solid var(--color-theme);
    background-color: var(--color-background);
    font-size: 14px;
}

code {
    padding: 1px 4px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    box-decoration-break: clone;
    background-color: color-mix(in srgb, var(--color-gray-700), transparent 66%);
    font-family: var(--font-consolas);
    color: var(--color-theme-text);
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

table {
    width: 100%;
}

th, td, dt, dd {
    padding-inline: 6px;
    line-height: 28px;
}

th, dt {
    background-color: var(--color-theme);
    font-weight: bold;
    text-align: center;
}

ol, ul, menu {
    list-style-type: none;
}

button, label, select {
    cursor: pointer;
}

button, input, textarea, select {
    background-color: transparent;
    color: inherit;
}

option {
    background-color: var(--color-background);
}

input {
    min-width: 0;
}

textarea {
    resize: none;
}

:root {
    &::highlight(danger) {
        color: var(--color-danger);
    }
}

:focus {
    outline: none;
}

::placeholder {
    color: var(--color-text-info);
}

::selection {
    background-color: var(--color-selection-bg);
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-background);

    :not(:root) > & {
        border-radius: 5px;
    }
}

::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    border-radius: 5px;
    background-clip: content-box;
    background-color: var(--color-theme-dark);
}

[type="number"] {
    appearance: textfield;

    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
        appearance: none;
    }
}

[type="search"]::-webkit-search-cancel-button {
    appearance: none;
}

/* ---------------------------------------------------------------- */

/* 通用内容部件 */
.content-widget {
    --meow-large: 32px;
    --meow-medium: 24px;

    border: 2px solid var(--color-theme-dark);
    border-radius: 16px;
    box-shadow: var(--box-shadow);
    background-color: var(--color-background-alpha);

    @include viewport("lg") {
        --meow-large: 24px;
    }

    @include viewport("xs") {
        --meow-large: 16px;
        --meow-medium: 16px;
    }
}

/* 通用内容盒 */
.content-table {
    padding: 16px;
    border: 1px solid var(--color-border-lighter);
    border-left: 32px solid var(--color-theme);
    background-color: var(--color-background);
    font-size: 14px;
}

.content-h2 {
    font-family: var(--font-smooth);
    font-size: 20px;
    line-height: 26px;
}

.div-table {
    display: flex;
    gap: 2px;
    padding: 2px;
    border: 1px solid var(--color-border);
    font-size: 14px;

    dl {
        display: grid;
        flex: 1;
        grid-template-columns: var(--dt-fr, 1fr) var(--dd-fr, 1fr);
        row-gap: 2px;
        margin-bottom: auto;
    }
}

.tag {
    box-decoration-break: clone;
    background-color: var(--color-gray-700);
    color: var(--color-text-secondary);

    &:is(a):hover {
        color: var(--color-theme-text);
    }
}

.p-small {
    font-size: 14px;
    line-height: 24px;
}

.font-italic {
    font-style: italic;
}

.text-small {
    font-size: 14px;
}

.text-danger {
    color: var(--color-danger);
}

.text-gray {
    color: var(--color-text-info);
}

.text-primary {
    color: var(--color-theme-text);
}

.text-secondary {
    color: var(--color-text-secondary);
}

.text-center {
    text-align: center;
}

.text-truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.text-uppercase {
    text-transform: uppercase;
}

.cursor-pointer {
    cursor: pointer;
}

.sr-only {
    display: none;
}

/* ---------------------------------------------------------------- */

/* 代码高亮 */
.shiki span {
    background-color: var(--shiki-light-bg);
    color: var(--shiki-light);

    [z-dark] & {
        background-color: var(--shiki-dark-bg);
        color: var(--shiki-dark);
    }
}

/* ---------------------------------------------------------------- */

:where(.novel-text, .entry-article) p {
    line-height: 2em;
}

:where(.novel-text, .entry-article) p {
    text-indent: 2em;
}

:where(blockquote, li) > p {
    text-indent: 0;
}

.novel-text {
    overflow-wrap: anywhere;

    h2 {
        position: relative;
        margin-block: 24px 12px;
        padding-left: 16px;
        line-height: 36px;

        &::before {
            content: "";
            display: block;
            position: absolute;
            inset: 0;
            width: 6px;
            border-radius: 2px;
            background-color: var(--color-theme-dark);
        }
    }

    h3 {
        margin-block: 20px 8px;
        line-height: 24px;
    }

    ol, ul {
        line-height: 2em;
    }

    ol {
        padding-left: 3em;
        list-style-type: decimal;

        > li::marker {
            font-weight: bold;
            color: var(--color-theme-text);
        }
    }

    ul {
        padding-left: 2em;
        list-style-type: disc;
    }

    del {
        filter: blur(0.25em);
    }

    em {
        font-style: normal;
        color: var(--color-theme-text);
    }

    strong {
        font-weight: bold;
    }

    :where(.mb-code, .mb-gallery, .mb-image) {
        margin-block: 16px;
    }

    > :first-child {
        margin-top: 0;
    }

    > :last-child {
        margin-bottom: 0;
    }

    [id] {
        scroll-margin-top: 80px;
    }

    .emoji {
        width: 1.25em;
        height: 1.25em;
        margin-inline: 2px;
        vertical-align: -0.25em;
    }

    > .footnotes {
        margin-top: 16px;
        font-size: 14px;
    }

    .footnote-ref {
        margin-inline: 2px;
        color: var(--color-theme-text);

        &::before {
            content: "[";
        }

        &::after {
            content: "]";
        }
    }

    .footnote-backref {
        color: var(--color-text-info);
        transition: color 0.25s;

        &:hover {
            color: var(--color-theme-text);
        }
    }
}

.comment-text {
    ol {
        padding-left: 2em;
    }

    img {
        max-width: 411px;
    }

    p {
        text-indent: 0;
    }

    .shiki {
        margin-top: 7px;
        padding-top: 3px;
        font-family: var(--font-code);
        font-size: 14px;
        line-height: 20px;
        white-space: break-spaces;
        word-break: break-all;
    }
}