.edge-fades-x {
  --edge-fades-to: right;

  overflow-x: auto;
  animation-name: edge-fades;
  animation-timeline: scroll(x self);
}

.edge-fades-y {
  --edge-fades-to: bottom;

  overflow-y: auto;
  animation-name: edge-fades;
  animation-timeline: scroll(y self);
}

@keyframes edge-fades {
  0% {
    mask-image: linear-gradient(to var(--edge-fades-to), white calc(100% - 2rem), transparent);
  }

  1%, 99% {
    mask-image: linear-gradient(to var(--edge-fades-to), transparent, white 2rem, white calc(100% - 2rem), transparent);
  }

  100% {
    mask-image: linear-gradient(to var(--edge-fades-to), transparent, white 2rem);
  }
}

.animate-rotate {
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: rotate;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
