pre {
    --mono-1: hsl(230deg 8% 24%);
    --mono-2: hsl(230deg 6% 44%);
    --mono-3: hsl(230deg 4% 64%);
    --hue-1: hsl(198deg 99% 37%);
    --hue-2: hsl(221deg 87% 60%);
    --hue-3: hsl(301deg 63% 40%);
    --hue-4: hsl(119deg 34% 47%);
    --hue-5: hsl(5deg 74% 59%);
    --hue-5-2: hsl(344deg 84% 43%);
    --hue-6: hsl(35deg 99% 36%);
    --hue-6-2: hsl(35deg 99% 40%);
    --syntax-fg: hsl(230deg 8% 24%);
    --syntax-bg: hsl(230deg 1% 98%);
    --syntax-gutter: hsl(230deg 1% 62%);
    --syntax-guide: hsl(230deg 8% 24% / 20%);
    --syntax-accent: hsl(230deg 100% 66%);
    --syntax-selection-color: hsl(230deg 1% 90%);
    --syntax-gutter-background-color-selected: hsl(230deg 1% 90%);
    --syntax-cursor-line: hsl(230deg 8% 24% / 5%);

    [z-dark] & {
        --mono-1: hsl(220deg 14% 71%);
        --mono-2: hsl(220deg 9% 55%);
        --mono-3: hsl(220deg 10% 40%);
        --hue-1: hsl(187deg 47% 55%);
        --hue-2: hsl(207deg 82% 66%);
        --hue-3: hsl(286deg 60% 67%);
        --hue-4: hsl(95deg 38% 62%);
        --hue-5: hsl(355deg 65% 65%);
        --hue-5-2: hsl(5deg 48% 51%);
        --hue-6: hsl(29deg 54% 61%);
        --hue-6-2: hsl(39deg 67% 69%);
        --syntax-fg: hsl(220deg 14% 71%);
        --syntax-bg: hsl(220deg 13% 18%);
        --syntax-gutter: hsl(220deg 14% 45%);
        --syntax-guide: hsl(220deg 14% 71% / 15%);
        --syntax-accent: hsl(220deg 100% 66%);
        --syntax-selection-color: hsl(220deg 13% 28%);
        --syntax-gutter-background-color-selected: hsl(220deg 13% 26%);
        --syntax-cursor-line: hsl(220deg 100% 80% / 4%);
    }
}

.token {
    &.comment,
    &.prolog,
    &.cdata {
        color: var(--mono-3);
    }

    &.doctype,
    &.punctuation,
    &.entity {
        color: var(--mono-1);
    }

    &.attr-name,
    &.class-name,
    &.boolean,
    &.constant,
    &.number,
    &.atrule {
        color: var(--hue-6);
    }

    &.keyword {
        color: var(--hue-3);
    }

    &.property,
    &.tag,
    &.symbol,
    &.deleted,
    &.important {
        color: var(--hue-5);
    }

    &.selector,
    &.string,
    &.char,
    &.builtin,
    &.inserted,
    &.regex,
    &.attr-value,
    &.attr-value > .punctuation {
        color: var(--hue-4);
    }

    &.variable,
    &.operator,
    &.function {
        color: var(--hue-2);
    }

    &.url {
        color: var(--hue-1);
    }

    &.attr-value > .punctuation.attr-equals,
    &.special-attr > .attr-value > .value.css {
        color: var(--mono-1);
    }

    &.bold {
        font-weight: bold;
    }

    &.comment,
    &.italic {
        font-style: italic;
    }

    &.entity {
        cursor: help;
    }

    &.namespace {
        opacity: 0.8;
    }

    &.tab:not(:empty)::before,
    &.cr::before,
    &.lf::before,
    &.space::before {
        color: var(--syntax-guide);
    }
}

.language-css .token {
    &.selector {
        color: var(--hue-5);
    }

    &.property {
        color: var(--mono-1);
    }

    &.function,
    &.url > .function {
        color: var(--hue-1);
    }

    &.url > .string.url {
        color: var(--hue-4);
    }

    &.important,
    &.atrule .rule {
        color: var(--hue-3);
    }
}

.language-html .token {
    &.tag {
        background-color: transparent;
    }
}

.language-js .token {
    &.operator {
        color: var(--hue-3);
    }

    &.template-string > .interpolation > .interpolation-punctuation.punctuation {
        color: var(--hue-5-2);
    }
}

.language-json .token {
    &.operator {
        color: var(--mono-1);
    }

    &.null.keyword {
        color: var(--hue-6);
    }
}

.language-markdown .token {
    &.url,
    &.url > .operator,
    &.url-reference.url > .string {
        color: var(--mono-1);
    }

    &.url > .content {
        color: var(--hue-2);
    }

    &.url > .url,
    &.url-reference.url {
        color: var(--hue-1);
    }

    &.blockquote.punctuation,
    &.hr.punctuation {
        font-style: italic;
        color: var(--mono-3);
    }

    &.code-snippet {
        color: var(--hue-4);
    }

    &.bold .content {
        color: var(--hue-6);
    }

    &.italic .content {
        color: var(--hue-3);
    }

    &.strike .content,
    &.strike .punctuation,
    &.list.punctuation,
    &.title.important > .punctuation {
        color: var(--hue-5);
    }
}