@import "https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap";

:root {
    --color-text             : rgb(36 33 30); /* 文本色 */
    --color-link             : rgb(63 81 181); /* 超链接色 */
    --color-danger           : rgb(245 64 64); /* 警告色 */
    --color-gray             : rgb(152 152 152); /* 灰色 */
    --color-gray-dark        : rgb(120 120 120); /* 灰色-深 */
    --color-border           : rgb(168 168 168); /* 边框色 */
    --color-border-light     : rgb(221 221 221); /* 边框色-浅 */
    --color-border-dark      : rgb(51 51 51); /* 边框色-深 */
    --color-background       : rgb(248 248 248); /* 背景色 */
    --color-background-alpha : rgb(248 248 248 / 88%); /* 背景色-透明 */
    --color-selection-bg     : rgb(119 184 233 / 66%); /* 选区背景色 */
    --color-tag-bg           : rgb(216 216 216); /* 标签背景色 */
    --color-tag-text         : rgb(96 93 90); /* 标签文本色 */
    --color-theme            : hsl(var(--theme-h) var(--theme-s) var(--theme-l)); /* 主题色 */
    --color-theme-light      : hsl(var(--theme-h) var(--theme-s-light) var(--theme-l-light)); /* 主题色-浅 */
    --color-theme-dark       : hsl(var(--theme-h) var(--theme-s-dark) var(--theme-l-dark)); /* 主题色-深 */
    --color-theme-text       : hsl(var(--theme-h) var(--theme-s-text) var(--theme-l-text)); /* 主题色-文本 */
    --border-theme-group     : 2px solid var(--color-theme-dark); /* 内容组边框 */
    --box-shadow             : 0 0 4px 0 rgb(0 0 0 / 32%); /* 块盒阴影 */
    --box-shadow-dark        : 0 0 8px 0 rgb(0 0 0 / 32%); /* 块盒阴影-深 */
    --text-shadow            : 1px 1px 2px rgb(0 0 0 / 50%); /* 白字阴影 */
    --size-min-width         : 320px;
    --theme-s                : 100%;
    --theme-s-light          : 100%;
    --theme-s-dark           : 60%;
    --theme-s-text           : 53%;
    --theme-l                : 90%;
    --theme-l-light          : 95%;
    --theme-l-dark           : 75%;
    --theme-l-text           : 67%;
}

[theme="hatsusora"] {
    --theme-h       : 196;
    --theme-l       : 80%;
    --theme-l-light : 90%;
    --theme-l-dark  : 67%;
    --theme-l-text  : 53%;
}

[theme="ayame"] {
    --theme-h: 256;
}

[theme="sakura"] {
    --theme-h: 0;
}

[z-dark] {
    --color-text             : rgb(255 255 255 / 88%); /* 文本色 */
    --color-link             : rgb(88 160 255); /* 超链接色 */
    --color-gray-dark        : rgb(184 184 184); /* 灰色-深 */
    --color-border           : rgb(136 136 136); /* 边框色 */
    --color-border-light     : rgb(83 83 83); /* 边框色-浅 */
    --color-border-dark      : rgb(216 216 216); /* 边框色-深 */
    --color-background       : rgb(48 48 48); /* 背景色 */
    --color-background-alpha : rgb(48 48 48 / 88%); /* 背景色-透明 */
    --color-tag-bg           : rgb(88 88 88); /* 标签背景色 */
    --color-tag-text         : rgb(196 193 190); /* 标签文本色 */
    --theme-h                : 196;
    --theme-s                : 66%;
    --theme-s-light          : 66%;
    --theme-s-dark           : 66%;
    --theme-s-text           : 75%;
    --theme-l                : 45%;
    --theme-l-light          : 53%;
    --theme-l-dark           : 60%;
    --theme-l-text           : 66%;
}

@font-face {
    font-family: TengXiang;
    font-display: swap;
    src: url("/fonts/TengXQJianYuan-w3.ttf") format("truetype");
}

/* ---------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    font: inherit;
}

*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scrollbar-gutter: stable;
}

body {
    font-family:
        system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue",
        "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Source Han Sans CN", sans-serif;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    text-size-adjust: 100%;
    color: var(--color-text);
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px;
}

p {
    line-height: 2em;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

rt {
    font-size: 75%;
}

blockquote {
    margin: 1em 2em;
    padding: 1em;
    border-block: 1px solid var(--color-border-light);
    border-inline: 4px solid var(--color-theme);
    border-radius: 4px;
    background-color: var(--color-background);
}

code {
    padding: 1px 4px;
    border: 1px solid var(--color-border);
    border-radius: 4px;
    box-decoration-break: clone;
    background-color: color-mix(in srgb, var(--color-tag-bg), transparent 66%);
    font-family: consolas;
    color: var(--color-theme-text);
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

table {
    width: 100%;
}

th, td, dt, dd {
    padding-inline: 6px;
    line-height: 28px;
}

th, dt {
    background-color: var(--color-theme);
    font-weight: bold;
    text-align: center;
}

ol, ul, menu {
    list-style-type: none;
}

button, label, select {
    cursor: pointer;
}

input, textarea, select, option {
    background-color: var(--color-background);
    color: inherit;
}

input {
    min-width: 0;
}

textarea {
    resize: none;
}

:focus {
    outline: none;
}

::selection {
    background-color: var(--color-selection-bg);
    color: white;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--color-background);
}

::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    border-radius: 5px;
    background-clip: content-box;
    background-color: var(--color-theme-dark);
}

[type="number"] {
    appearance: textfield;

    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
        appearance: none;
    }
}

[type="search"]::-webkit-search-cancel-button {
    appearance: none;
}

/* ---------------------------------------------------------------- */

/* 通用内容页 */
.content-page {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

/* 通用内容部件 */
.content-widget {
    border: var(--border-theme-group);
    border-radius: 16px;
    box-shadow: var(--box-shadow);
    background-color: var(--color-background-alpha);

    &[z-main] {
        padding: 32px;

        @media (width < 1024px) {
            padding: 16px;
        }
    }
}

/* 通用内容盒 */
.content-table {
    padding: 16px;
    border: 1px solid var(--color-border-light);
    border-left: 32px solid var(--color-theme);
    background-color: var(--color-background);
    font-size: 14px;

    p {
        line-height: 24px;
    }
}

.content-h2 {
    font-family: TengXiang;
    font-size: 20px;
    line-height: 26px;
}

.div-table {
    display: flex;
    gap: 2px;
    padding: 2px;
    border: 1px solid var(--color-border);
    font-size: 14px;

    dl {
        display: grid;
        flex: 1;
        grid-template-columns: var(--dt-fr, 1fr) var(--dd-fr, 1fr);
        align-items: center;
        row-gap: 2px;
    }
}

.p-small {
    font-size: 14px;
    line-height: 24px;
}

.tag {
    box-decoration-break: clone;
    background-color: var(--color-tag-bg);
    color: var(--color-tag-text);

    &:is(a):hover {
        color: var(--color-theme-text);
    }
}

.text-gray {
    color: var(--color-gray);
}

.text-primary {
    color: var(--color-theme-text);
}

.text-center {
    text-align: center;
}

.text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: nowrap;
}

.cursor-pointer {
    cursor: pointer;
}

.invisible {
    visibility: hidden;
}

/* 导航表格 */
.navbox-wrapper {
    overflow: auto;
    border: 1px solid var(--color-border);
}

.navbox-table {
    width: 100%;
    border: 1px solid var(--color-border);
    border-spacing: 2px;
}

.navbox-ceil-odd {
    background-color: var(--color-theme-light);
}

.navbox-ceil-even {
    background-color: var(--color-theme);
}

/* ---------------------------------------------------------------- */

/* 按钮 */
.btn {
    display: inline-block;
    padding-inline: 12px;
    border: 1px solid var(--color-theme-dark);
    border-radius: 3px;
    line-height: 2em;
    text-align: center;
    color: var(--color-theme-text);
    transition: all 0.4s;
    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: var(--color-theme-dark);
        color: white;
    }

    &.disabled {
        border-color: var(--color-border);
        color: var(--color-border);
        pointer-events: none;
    }

    & + & {
        margin-inline-start: 0.5em;
    }
}

/* 关闭按钮 */
.xmark {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: 1em;
    font-size: 32px;
    color: var(--color-border);
    transition: rotate 0.25s;
    cursor: pointer;

    &:hover {
        rotate: 360deg;
    }
}

/* ---------------------------------------------------------------- */

:where(.intro-synopsis, .novel-text, .entry-article, .result-part) p {
    text-indent: 2em;
}

:where(blockquote, li) > p {
    text-indent: 0;
}

.novel-text {
    h2 {
        position: relative;
        margin-block: 16px 4px;
        padding-left: 16px;
        font-family: TengXiang;
        line-height: 36px;

        &::before {
            content: "";
            display: block;
            position: absolute;
            inset: 4px 0;
            width: 6px;
            border-radius: 3px;
            background-color: var(--color-theme-dark);
        }
    }

    h3 {
        margin-block: 12px 4px;
        font-family: TengXiang;
        line-height: 24px;
    }

    li {
        margin-left: 2em;
        line-height: 2em;
        list-style-type: disc;
    }

    em {
        font-style: normal;
        color: var(--color-theme-text);
    }
}

/* ---------------------------------------------------------------- */

/* 媒体查询 */
@media (width < 1024px) {
    .content-page {
        gap: 16px;
    }

    .content-group {
        padding: 16px;
    }
}