:root {
    --color-text-primary     : rgb(33 30 31); /* 文本色 - 主要 */
    --color-text-regular     : rgb(66 60 62); /* 文本色 - 常规 */
    --color-text-secondary   : rgb(99 90 93); /* 文本色 - 次要 */
    --color-text-info        : rgb(148 148 148); /* 文本色 - 灰色 */
    --color-text-disabled    : rgb(168 168 168); /* 文本色 - 禁用 */
    --color-link             : rgb(63 81 181); /* 超链接色 */
    --color-danger           : rgb(245 64 64); /* 危险色 */
    --color-success          : rgb(103 194 58); /* 安全色 */
    --color-warning          : rgb(230 162 60); /* 警告色 */
    --color-info             : rgb(148 148 148);
    --color-info-light-3     : rgb(170 170 170);
    --color-info-light-5     : rgb(192 192 192);
    --color-info-light-7     : rgb(214 214 214);
    --color-info-light-8     : rgb(225 225 225);
    --color-info-light-9     : rgb(236 236 236);
    --color-info-dark-2      : rgb(112 112 112);
    --color-border           : rgb(184 184 184);
    --color-border-light     : rgb(200 200 200);
    --color-border-lighter   : rgb(216 216 216);
    --color-border-dark      : rgb(144 144 144);
    --color-border-darker    : rgb(120 120 120);
    --color-background       : rgb(248 248 248); /* 背景色 */
    --color-background-tag   : rgb(216 216 216); /* 背景色 - 标签 */
    --color-background-alpha : rgb(248 248 248 / 88%); /* 背景色 - 透明 */
    --color-selection-bg     : rgb(119 184 233 / 66%); /* 选区背景色 */
    --box-shadow             : 0 0 4px 0 rgb(0 0 0 / 32%);
    --box-shadow-dark        : 0 0 8px 0 rgb(0 0 0 / 16%);
    --box-shadow-darker      : 0 0 8px 0 rgb(0 0 0 / 32%);
    --text-shadow            : 1px 1px 2px rgb(0 0 0 / 50%);
    --font                   :
        system-ui, -apple-system, blinkmacsystemfont, "Helvetica Neue",
        "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Source Han Sans CN", sans-serif;
    --font-consolas          : consolas, var(--font-code);
    --font-code              : "Source Code Pro", var(--font);
    --font-smooth            : "Teng Xiang", var(--font);
    --circle-radius          : calc(1px * infinity);
    --size-min-width         : 320px;
}

[theme="hatsusora"] {
    --color-theme            : hwb(216deg 72% 0%);
    --color-theme-dark       : hwb(216deg 50% 8%);
    --color-theme-text       : hwb(216deg 36% 16%);
}

[theme="ayame"] {
    --color-theme            : hwb(256deg 80% 0%);
    --color-theme-dark       : hwb(256deg 60% 8%);
    --color-theme-text       : hwb(256deg 48% 16%);
}

[theme="sakura"] {
    --color-theme            : hwb(0deg 80% 0%);
    --color-theme-dark       : hwb(0deg 60% 8%);
    --color-theme-text       : hwb(0deg 48% 16%);
}

[z-dark] {
    --color-text-primary     : rgb(255 255 255 / 88%); /* 文本色 */
    --color-text-regular     : rgb(237 241 243 / 88%); /* 文本色 - 常规 */
    --color-text-secondary   : rgb(204 210 213 / 88%); /* 文本色 - 次要 */
    --color-text-disabled    : rgb(130 130 130); /* 文本色 - 禁用 */
    --color-link             : rgb(88 160 255); /* 超链接色 */
    --color-info-light-3     : rgb(124 124 124);
    --color-info-light-5     : rgb(100 100 100);
    --color-info-light-7     : rgb(76 76 76);
    --color-info-light-8     : rgb(64 64 64);
    --color-info-light-9     : rgb(52 52 52);
    --color-info-dark-2      : rgb(184 184 184);
    --color-border           : rgb(112 112 112);
    --color-border-light     : rgb(96 96 96);
    --color-border-lighter   : rgb(80 80 80);
    --color-border-dark      : rgb(152 152 152);
    --color-border-darker    : rgb(176 176 176);
    --color-background       : rgb(42 42 42); /* 背景色 */
    --color-background-tag   : rgb(82 82 82); /* 背景色 - 标签 */
    --color-background-alpha : rgb(42 42 42 / 84%); /* 背景色 - 透明 */
    --color-theme            : hwb(196deg 15% 25%);
    --color-theme-dark       : hwb(196deg 34% 14%);
    --color-theme-text       : hwb(196deg 40% 9%);
}